html, body, div, canvas {
    margin:		0;
    padding:	0;
    display:	block;
    font-family: 'Open Sans';
    background: #333;
}

canvas {
	position: absolute;
	overflow: hidden;
}

h1 {
	font-size: 6vw;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 3%;
	text-align: center;
	white-space: nowrap;
}

span {
	font-size: 1.5vw;
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	color: #06f;
	margin: 0;
	padding: 0;
	transition: border 0.1s;
}
a:link {
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
a:visited {

}
a:focus {

}
a:hover {
	border-bottom: 1px solid;
}
a:active {

}

p {
	font-size: 1.5vw;
	color: #ddd;
	text-align: center;
	margin: 4px;
	padding: 0;
}
.account_link {
	color: #444;
	text-align: right;
}

#splash_container {
	position: absolute;

	display: block;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: transparent;
    opacity: 0.8;
    transition: opacity 0.3s;

    max-width: 95%;
    max-height: 95%;
}

#splash_box {

	display: block;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 7%;
	padding-bottom: 10%;

	color: #444;
	background-color: #e2e2e2;

	border-radius: 10px;
}

#account_container {
	float: right;
	margin-top: 10px;
	padding: 0;
	padding-top: 0px;
	font-size: 24pt;
	height: 2em;
	background-color: transparent;
}

input[type="text"], input[type="password"] {
	display: block;
	margin-left: 0;
	margin-top: 1%;
	width: 100%;
	font-family: sans-serif;
	font-size: 2.5vw;
	appearance: none;
	box-shadow: none;
	border-radius: 5px;
}
input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
}

input[type="text"], input[type="password"] {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}
input[type="text"]:focus, input[type="password"]:focus {
	border-bottom: solid 2px #969696;
}

input[type="password"] {
	background-color: #9fc;
}

button {
	display: inline-block;
	margin-top: 10px;
	padding: 0px 0px;
	font-size: 3vw;
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 5px;
}

button:focus {
	outline: none
}

button {
	width: 55%;
	height: 2em;
	box-sizing: border-box;

	color: #fff;
	background-color: #06f;
	border: none;

	transition: background-color 0.1s;
}

button:hover {
	background-color: #05d;
}

button:active {
	background-color: #039;
}

#full_screen {
	position: fixed;
	padding: 0;
	margin: 0;
	left: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
	line-height: 32px;
}

.icon-fullscreen {
	display: block;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	margin-top: 1px;
	line-height: inherit;
}

@media (min-width: 1024px) {
	h1 {font-size: 64px;}
	p {font-size: 16px;}
	input[type="text"], input[type="password"] {font-size: 26px;}
	button {font-size: 32px}
}