html, body, div, canvas {
    margin:		0;
    padding:	0;
    display:	block;
    font-family: 'Open Sans';
    background: #333;
}

canvas {
	position: absolute;
	overflow: hidden;
}

h1 {
	font-size: 48pt;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
	white-space: nowrap;
}

span {
	font-size: 12pt;
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	color: #06f;
	margin: 0;
	padding: 0;
	transition: border 0.1s;
}
a:link {
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
a:visited {

}
a:focus {

}
a:hover {
	border-bottom: 1px solid;
}
a:active {

}

p {
	font-size: 12pt;
	color: #ddd;
	text-align: center;
	margin: 4px;
	padding: 0;
}
.account_link {
	color: #444;
	text-align: right;
}

#splash_container {
	position: absolute;

	display: block;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: transparent;
    opacity: 0.8;
    transition: opacity 0.3s;

    max-width: 95%;
    max-height: 95%;
}

#splash_box {

	display: block;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 60px;
	padding-bottom: 80px;

	color: #444;
	background-color: #e2e2e2;

	border-radius: 10px;
}

@media only screen and (max-device-width: 480px) {
	#splash_box {
		padding: 20px;
	}
}

#account_container {
	float: right;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	font-size: 24pt;
	height: 2em;
	background-color: transparent;
}

input[type="text"], input[type="password"] {
	display: block;
	margin-left: 0;
	margin-bottom: 8px;
	width: 100%;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: 5px;
}
input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
}

input[type="text"], input[type="password"] {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}
input[type="text"]:focus, input[type="password"]:focus {
	border-bottom: solid 2px #969696;
}

input[type="password"] {
	background-color: #9fc;
}

button {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0px 0px;
	font-size: 24pt;
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 5px;
}

button:focus {
	outline: none
}

button {
	width: 60%;
	height: 2em;
	box-sizing: border-box;

	color: #fff;
	background-color: #06f;
	border: none;

	transition: background-color 0.1s;
}

button:hover {
	background-color: #05d;
}

button:active {
	background-color: #039;
}